.card-title {
    font-size: 18px;
    font-weight: bold;
    color: blue;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 23px;
}

.card-text {
    font-size: 14px;
    color: #555;
    margin-left: 20px;
}

.card-body {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 700px; 
    margin-left: 20px;
}

.confirm-box {
    position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
}

.confirm-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
}

.confirm-content button {
            margin: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color:#f6f7f8
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgb(236, 203, 15);
    border-bottom: 1px solid #ddd;
    
}

.logo-area{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.logo-text{
    font-weight: bold;
    color: rgb(216, 179, 13);
}

.login-bnt:hover{
    opacity: 0.8;
}

.layout{
    display: center;
}

.sidebar{
    width: 150px;
    background: white;
    padding: 2px;
    height: 50vh;
    border-right: 1px solid #ddd;
}

