.nomePai_resposta {
    font-size: 14px;
    color: #002aff;
}

.nome_comentario {
    font-size: 12px;
    color: #000000;
}

.comentario {
    font-size: 14px;
    color: #000000;
}

.nome_resposta {
    font-size: 12px;
    color: #000000;
}

.resposta_texto {
    font-size: 14px;
    color: #000000;
}
.respostas {
    margin-left: 40px;
}

span[id^="upvotes-"] {
    color: green;
}

span[id^="downvotes-"] {
    color: red;
}

span[id^="downvotescoment-"] {
    color: red;
}

span[id^="upvotescoment-"] {
    color: green;
}

.upvotarcoment img, .downvotarcoment img {
    background-color: transparent;
    border: none;
    cursor: pointer;

}

/*.upvotarcoment img:hover{
    background-color: green;
}*/

respostas{
    margin-left: 40px;
}

input[id^="resposta-"] {
    width: 80px;
    
}

button[onclick^="postarResposta"] {
    width: 80px;
    height: 20px;
    cursor: pointer;
}

.comentarios {
    margin-top: 10px;
    padding-left: 20px;
    color: rgb(86, 86, 86);
}   

.comentario-data{
    font-size: 10px;
    color: #888;
}


.card-title {
    font-size: 18px;
    font-weight: bold;
    color: blue;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 23px;
}

.card-text {
    font-size: 14px;
    color: #555;
    margin-left: 20px;
}

.card-body {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 700px; 
    margin-left: 20px;
}

.confirm-box {
    position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
}

.confirm-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
}

.confirm-content button {
            margin: 10px;
}

/* emi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color:#f6f7f8
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgb(236, 203, 15);
    border-bottom: 1px solid #ddd;
    
}



.logo-area{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.logo-text{
    font-weight: bold;
    color: rgb(216, 179, 13);
}

.login-bnt:hover{
    opacity: 0.8;
}

.layout{
    display: center;
}

.sidebar{
    width: 150px;
    background: white;
    padding: 2px;
    height: 50vh;
    border-right: 1px solid #ddd;
}

.sidebar ul{
    list-style: none;
    padding: 20px 15px;
}

.sidebar li{
    margin-bottom: 10px;
}
.botao1{
    background-color: rgb(243, 209, 14);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 0px;
    cursor: pointer;
    
}
.botao2{
    background-color: rgb(243, 209, 14);
    color: black;
    padding: 10px 26px;
    font-size: 15px;
    border-radius: 0px;
    cursor: pointer;
    
}
.botao3{
    background-color: rgb(243, 209, 14);
    color: rgb(0, 0, 0);
    padding: 10px 22px;
    font-size: 15px;
    border-radius: 0px;
    cursor: pointer;
    
}

.sidebar a {
    text-decoration: none;
    color: rgb(209, 195, 4);
    padding: 88px;
    display: block;
    border-radius: 10px;
    transition: 0.2s;
}


.feed{
    flex: 1;
    padding: 30px;
}

.post{
    display: flex;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0,0.05);
}

.votos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.modal-botoes button{
    background-color: rgb(255, 217, 0);
    color: black;
    padding: 5px 10px;
    font-size:10px;
    border-radius: 10px;
    cursor: pointer;
}
.modal-content{
    margin-left: 1150px;
    margin-top: -50px;
    width: 200px;
    padding: 20px;
    border: 2px solid rgb(51, 39, 0);
    border-radius: 20px;
    background-color: #feffb7;
}

.modal-content input, .modal-content textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4e3c00;
    border-radius: 5px;
}


